body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #282c34;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 20px;
    color: #61dafb; /* Azul claro */
}

form {
    text-align: center;
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #61dafb; /* Azul claro */
}

select {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #282c34;
    color: #ffffff;
    border: 1px solid #61dafb; /* Azul claro */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb; /* Azul claro */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease; /* Transição suave de cor */
}

button:hover {
    background-color: #508fbf; /* Azul um pouco mais escuro */
}

#result {
    margin-top: 30px;
    text-align: center;
}

.data {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    color: #61dafb; /* Azul claro */
}
